body {
  font-family: "Helvetica", "Arial", sans-serif;
}

main section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

p {
  line-height: 150%;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.italic {
  font-style: italic;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62747e;
  color: #FFF;
}
.header > nav a {
  margin-left: 10px;
  color: #DDD;
  font-size: 1.2em;
}
.header > nav a:hover {
  color: #FFF;
  font-weight: bold;
  text-decoration-line: none;
  font-size: 1.4em;
}
.header > h1 {
  margin-right: 75px;
}

.featured {
  display: flex;
  align-items: center;
  opacity: 0;
  background-color: #dfe3e5;
  padding-bottom: 20px;
  padding-top: 20px;
}
.featured > div {
  margin-right: 15px;
  max-width: 40%;
}
.featured > img {
  border: solid 1pt;
  width: auto;
  height: 250px;
}

.featured-button {
  min-width: 90px;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc4945;
  color: #FFF;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
  font-size: 0.9em;
  padding: 5px;
}
.featured-button > img {
  margin-right: 5px;
  filter: invert(100%);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfe3e5;
}
.modal-content > div {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.modal-content > div > div {
  margin-right: 15px;
}
.modal-content > div > img {
  width: auto;
  height: 250px;
}

.close-button {
  position: absolute;
  right: 0;
  width: 1.5rem;
  margin-right: 15px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #e06666;
}

.close-button:hover {
  background-color: #f44336;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.carousel {
  opacity: 0;
  align-items: center;
}
.carousel > h2 {
  width: 100%;
  text-align: center;
}
.carousel > img {
  height: 60px;
  cursor: pointer;
}
.carousel__view {
  width: 410px;
  height: 150px;
  background: white;
  box-shadow: 0 1px 8px #888888;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.product-list {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  transform: translateX(0px);
  height: 150px;
}

.product {
  width: 100px;
  height: 150px;
  display: inline-block;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
